@charset "UTF-8";
:root {
  --main-color: #3f4073;
  --second-color: white;
  --second-color-transparent: rgba(255, 255, 255, .3);
  --third-color: #222342;
  --fourth-color: red;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--second-color);
  color: var(--main-color);
  margin: 0px;
  font-family: sans-serif;
  font-size: 1.8em;
}
body #wrapper {
  width: 100%;
}
body #wrapper #demo,
body #wrapper #how,
body #wrapper #contact,
body #wrapper #footer {
  background-color: var(--main-color);
  color: var(--second-color);
}
body #wrapper section {
  padding-bottom: 30px;
  padding-top: 5vh;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  margin-top: -1px;
  margin-bottom: -1px;
}
body #wrapper section h2 {
  font-size: 2em;
}
body #wrapper section .content,
body #wrapper section nav {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  min-width: 500px;
}
body #wrapper section .content.content:last-child(),
body #wrapper section nav.content:last-child() {
  padding-bottom: 10vh;
}
body #wrapper section#nav {
  padding-top: 0px;
  padding-bottom: 10px;
  position: fixed;
  background-color: var(--second-color);
  color: var(--third-color);
}
body #wrapper section#nav nav {
  height: 2.5em;
  min-height: 1cm;
  position: relative;
}
body #wrapper section#nav nav ul {
  list-style-type: none;
  right: 25px;
  margin: unset;
  text-align: right;
  font-size: 1em;
  position: absolute;
  bottom: 8px;
  padding: 0px;
  width: 60%;
}
body #wrapper section#nav nav ul li {
  float: right;
  padding-left: calc(1% * 5);
}
body #wrapper section#nav nav h2 {
  float: left;
  margin: unset;
  position: absolute;
  bottom: 0px;
  font-size: 2em;
}
body #wrapper section#nav nav a {
  color: inherit;
  text-decoration: none;
}
body #wrapper section#nav nav a:visited {
  color: inherit;
}
body #wrapper section#start {
  color: var(--main-color);
  background-image: url(../images/start_image.png);
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: auto 50%;
  min-height: 90vh;
  text-align: initial;
}
body #wrapper section#start h1 {
  font-size: 3.5em;
  margin-top: 50px;
  margin-bottom: 10px;
}
body #wrapper section#start h1 .subheading {
  color: var(--third-color);
  font-size: 0.3em;
  font-weight: normal;
}
body #wrapper section#start p {
  font-size: 1.5em;
}
body #wrapper section#start img {
  position: absolute;
  bottom: 0px;
  max-height: 70%;
  right: 10%;
  max-width: 70%;
}
body #wrapper section#start .content {
  padding-top: 5%;
}
body #wrapper section#demo {
  text-align: center;
}
body #wrapper section#demo blockquote {
  background-color: var(--third-color);
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  font-size: 1em;
}
body #wrapper section#demo button {
  background-color: var(--fourth-color);
  border-radius: 20px;
  border: none;
  outline: none;
  color: var(--second-color);
  padding: 10px 30px 10px 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}
body #wrapper section#demo button:active, body #wrapper section#demo button:hover {
  border: none;
  outline: none;
}
body #wrapper section#demo input {
  display: block;
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 1em;
}
body #wrapper section#demo h3 {
  font-weight: normal;
  text-align: left;
  font-size: 1em;
}
body #wrapper section#how #letterdemo {
  background-color: var(--third-color);
  padding: 30px;
  font-family: monospace;
  text-align: center;
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
}
body #wrapper section#how #letterdemo .label {
  width: 100%;
  font-family: sans-serif;
  text-decoration: underline;
}
body #wrapper section#features ul {
  list-style: none;
  padding-inline-start: 10%;
}
body #wrapper section#features ul li:before {
  content: "✓ ";
}
body #wrapper section#sideeffects ul {
  list-style: none;
  padding-inline-start: 10%;
}
body #wrapper section#sideeffects ul li:before {
  content: "✗ ";
}
body #wrapper section#contact .content #footerlinks a,
body #wrapper section#contact .content #footerlinks a:visited {
  color: var(--second-color);
  text-decoration: none;
  float: right;
}
body #wrapper section#contact .content #footerlinks ul {
  list-style-type: none;
}
body #wrapper section#footer {
  padding-top: 0px;
  text-align: center;
}
body #wrapper section#footer .content {
  border-top: 1px solid var(--second-color-transparent);
  padding-top: 30px;
}
body #wrapper .transition {
  width: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
}
body #wrapper .transition#demo-transition {
  border-top: 30px solid var(--main-color);
  border-left: 80vw solid var(--second-color);
  border-bottom: 1px solid var(--second-color);
  border-right: 20vw solid var(--second-color);
}
body #wrapper .transition#features-transition {
  border-top: 30px solid var(--second-color);
  border-left: 40vw solid var(--main-color);
  border-bottom: 1px solid var(--main-main);
  border-right: 60vw solid var(--main-color);
}
body #wrapper .transition#how-transition {
  border-top: 30px solid var(--main-color);
  border-left: 0vw solid var(--second-color);
  border-bottom: 1px solid var(--second-color);
  border-right: 100vw solid var(--second-color);
}
body #wrapper .transition#sideeffects-transition {
  border-top: 30px solid var(--second-color);
  border-left: 55vw solid var(--main-color);
  border-bottom: 1px solid var(--main-main);
  border-right: 45vw solid var(--main-color);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
