@charset "UTF-8";
:root {
  --main-color: #3f4073;
  --second-color: white;
  --second-color-transparent: rgba(255, 255, 255, .3);
  --third-color: #222342;
  --fourth-color: red;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--second-color);
  color: var(--main-color);
  margin: 0px;
  font-family: sans-serif;
}
body #wrapper {
  width: 100%;
}
body #wrapper #demo,
body #wrapper #how,
body #wrapper #contact,
body #wrapper #footer {
  background-color: var(--main-color);
  color: var(--second-color);
}
body #wrapper .content,
body #wrapper nav {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
body #wrapper .content.content:last-child(),
body #wrapper nav.content:last-child() {
  padding-bottom: 10vh;
}
body #wrapper #nav {
  position: fixed;
  background-color: var(--second-color);
  color: var(--third-color);
}
body #wrapper #nav nav {
  height: 30px;
  min-height: 1cm;
  position: relative;
}
body #wrapper #nav nav ul {
  list-style-type: none;
  right: 0px;
  margin: unset;
  text-align: right;
  font-size: 1.3em;
  position: absolute;
  bottom: 0px;
}
body #wrapper #nav nav ul li {
  float: right;
  padding-left: 3em;
}
body #wrapper #nav nav h2 {
  float: left;
  margin: unset;
  position: absolute;
  bottom: 0px;
  font-size: 2em;
}
body #wrapper #nav nav a {
  color: inherit;
  text-decoration: none;
}
body #wrapper #nav nav a:visited {
  color: inherit;
}
body #wrapper #start {
  color: var(--main-color);
  background-image: url(../images/start_image.png);
  background-repeat: no-repeat;
  background-position: 30% bottom;
  background-size: auto 70%;
  min-height: 90vh;
  text-align: initial;
  padding-top: 60px;
}
body #wrapper #start h1 {
  font-size: 3.5em;
  margin-top: 50px;
  margin-bottom: 10px;
}
body #wrapper #start h1 .subheading {
  color: var(--third-color);
  font-size: 0.3em;
  font-weight: normal;
}
body #wrapper #start p {
  font-size: 1.5em;
}
body #wrapper #start img {
  position: absolute;
  bottom: 0px;
  max-height: 70%;
  right: 10%;
  max-width: 70%;
}
body #wrapper #demo blockquote {
  background-color: var(--third-color);
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  font-size: 1.5em;
}
body #wrapper #demo button {
  background-color: var(--fourth-color);
  border-radius: 20px;
  border: none;
  outline: none;
  color: var(--second-color);
  padding: 10px 30px 10px 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}
body #wrapper #demo button:active, body #wrapper #demo button:hover {
  border: none;
  outline: none;
}
body #wrapper #demo input {
  display: block;
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}
body #wrapper #demo h3 {
  font-weight: normal;
  text-align: left;
}
body #wrapper #how .label {
  float: left;
  font-size: 20px;
  width: 10em;
  text-align: left;
}
body #wrapper #how #letterdemo {
  background-color: var(--third-color);
  padding: 20px;
  font-family: monospace;
  text-align: right;
  font-size: 1.5em;
}
body #wrapper #features ul {
  list-style: none;
}
body #wrapper #features ul li:before {
  content: "✓ ";
}
body #wrapper #features .content {
  max-width: 30em;
  text-align: left;
  font-size: 1.5em;
}
body #wrapper #sideeffects ul {
  list-style: none;
}
body #wrapper #sideeffects ul li:before {
  content: "✗ ";
}
body #wrapper #sideeffects .content {
  max-width: 30em;
  text-align: left;
  font-size: 1.5em;
}
body #wrapper #contact .content {
  text-align: left;
}
body #wrapper #contact .content h2 {
  height: 2em;
  max-width: 8em;
  display: inline-block;
  text-align: left;
  font-size: 2em;
}
body #wrapper #contact .content #footerlinks {
  max-width: 24em;
  float: right;
}
body #wrapper #contact .content #footerlinks a,
body #wrapper #contact .content #footerlinks a:visited {
  color: var(--second-color);
  text-decoration: none;
  float: right;
}
body #wrapper #contact .content #footerlinks ul {
  list-style-type: none;
}
body #wrapper #footer {
  padding-top: 0px;
}
body #wrapper #footer .content {
  border-top: 1px solid var(--second-color-transparent);
  padding-top: 30px;
}
body #wrapper section {
  padding-bottom: 30px;
  padding-top: 5vh;
  padding-left: 0px;
  padding-right: 0px;
  width: 100vw;
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
}
body #wrapper section h2 {
  font-size: 3em;
}
body #wrapper section#nav {
  padding-top: 0px;
}
body #wrapper section#nav, body #wrapper section#footer, body #wrapper section#contact {
  min-height: auto;
}
body #wrapper .transition {
  width: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
}
body #wrapper #demo-transition {
  border-top: 30px solid var(--main-color);
  border-left: 80vw solid var(--second-color);
  border-bottom: 1px solid var(--second-color);
  border-right: 20vw solid var(--second-color);
}
body #wrapper #features-transition {
  border-top: 30px solid var(--second-color);
  border-left: 40vw solid var(--main-color);
  border-bottom: 1px solid var(--main-main);
  border-right: 60vw solid var(--main-color);
}
body #wrapper #how-transition {
  border-top: 30px solid var(--main-color);
  border-left: 0vw solid var(--second-color);
  border-bottom: 1px solid var(--second-color);
  border-right: 100vw solid var(--second-color);
}
body #wrapper #sideeffects-transition {
  border-top: 30px solid var(--second-color);
  border-left: 55vw solid var(--main-color);
  border-bottom: 1px solid var(--main-main);
  border-right: 45vw solid var(--main-color);
}
